<style>
  @font-face {
    font-family: 'Pudelink';
    src: url('fonts/pudelink.woff2') format('woff2');
  }
  body {
    font-family: 'Pudelink', sans-serif;
  }

p.zz {font-family:"Pudelinka";}

</style>  

---
---

